<div class="mb-4 slideInLeft">
  <div class="container-fluid bg-warning rounded-top p-4">
    <mat-card-title class="ml-4 mt-4">
      Servicios Brindados
    </mat-card-title>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="table-hover shadow-lg">

    <!-- Telefono Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.Fecha}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="Hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.Tiempo}} </td>
    </ng-container>

    <!-- Apellidos Column -->
    <ng-container matColumnDef="Interes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interes </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.Interes}} </td>
    </ng-container>

    <!-- Tipo Column -->
    <ng-container matColumnDef="TotalCordoba">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total C$ </th>
      <td mat-cell *matCellDef="let servicio"> {{servicio.ManoObra + servicio.Interes}} </td>
    </ng-container>

    <!-- Cedula Column -->
    <ng-container matColumnDef="TipoPago">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Pago </th>
      <td mat-cell *matCellDef="let servicio">{{servicio.TipoPago}}</td>
    </ng-container>

    <!--Acciones Column-->
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let servicio">{{servicio.Descripcion}}</td>
    </ng-container>

    <!--Cliente Column-->
    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let servicio">{{servicio.Cliente.NombreCompleto}}</td>
    </ng-container>


    <!--Cliente Column-->
    <ng-container matColumnDef="Vendedor">
      <th mat-header-cell *matHeaderCellDef> Vendedor </th>
      <td mat-cell *matCellDef="let servicio">{{servicio.Vendedor.Nombres}} {{servicio.Vendedor.Apellidos}}</td>
    </ng-container>


    <!--Aqui comienzan los TH-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let servicio; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="elevated mb-3" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>