<body>
  <div class="bg-transparent row">
    <div class="bg-transparent col-sm-12 col-md-12 col-lg-12">
      <div class="text-center text-darkBlue">
        <div class="bg-transparent display-3">
          <b>ACR Motos</b>
        </div>
        <h6>
          Cruz Roja 20 mts. al Norte
          Email: acrmotosnic@gmail.com<br>
          Tel: 23468367<br>
        </h6>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="float-left text-darkBlue">
        <h3>RUC: 0842006960000W</h3>
      </div>
      <div class="float-right text-danger">
        <h3>N° 1</h3>
        <!--{{facturaImprimir.NumeroFactura}}-->
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card border-darkBlue mb-1 rounded-lg" style="width: 100%; height: 12rem;">
        <div class="card-body text-darkBlue">
          <h4>
            Cliente: Edycar Jesus Reyes Jimenez<br>
            Dirección: Gas. UNO San Martin 1/2 C. al Sur<br>
            Teléfono: 85601622
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card border-darkBlue mb-1 rounded-lg" style="width: 100%; height: 12rem;">
        <div class="card-body text-darkBlue">
          <h4>
            Fecha: 21/03/2019<br>
            Vendedor: Edycar Jesús Reyes Jimenez<br>
            Vencimiento: 21/03/2019
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="border border-darkBlue rounded rounded-lg bg-transparent" style="height: 50vh; width: 100%;">
    <div class="container-fluid bg-darkBlue">
      <mat-card-title>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="text-center text-white">
              <h4>DESCRIPCION</h4>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="text-center text-white">
              <h4>CANT</h4>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="text-center text-white">
              <h4>P/UNITARIO</h4>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="text-center text-white">
              <h4>TOTAL</h4>
            </div>
          </div>
        </div>
      </mat-card-title>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/acr-motos.appspot.com/o/Logotipo.png?alt=media&token=fdd841c3-4197-4e37-918c-0d0e86863e5e"
        alt="Marca de Agua" style="font-size: 15em; z-index: 9998; opacity: 0.1; width: 50%; position: fixed;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="card border-darkBlue mb-3" style="width: 100%; height: 8rem;">
        <div class="card-header">
          <div class="text-center text-darkBlue">
            <h5>Autorizado Por</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="card border-darkBlue mb-3" style="width: 100%; height: 8rem;">
        <div class="card-header">
          <div class="text-center text-darkBlue">
            <h5>Vendedor</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="card border-darkBlue mb-3" style="width: 100%; height: 8rem;">
        <div class="card-header">
          <div class="text-center text-darkBlue">
            <h5>Recibí Conforme</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="border border-darkBlue rounded rounded-lg card mt-1" style="width: 100%; height: 8rem;">
        <div class="row" style="z-index: 9999">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="bg-darkBlue text-white ">
              <h5>Sub Total</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class=" text-dark">
              <h5>C$ 1821.34</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="bg-darkBlue text-white ">
              <h6>DESCUENTO</h6>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class=" text-dark">
              <h5>C$ 0.00</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="bg-darkBlue text-white ">
              <h5>IVA</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class=" text-dark">
              <h5>C$ 0.00</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="bg-darkBlue text-white ">
              <h5>TOTAL</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class=" text-dark">
              <h5>C$ 1821.34</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="d-flex align-items-center justify-content-center">
      <div class="card border-darkBlue mb-3" style="width: 18rem; height: 14rem;">
      </div>
    </div>
  </div>
</body>






<!--<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/acr-motos.appspot.com/o/Logotipo.png?alt=media&token=fdd841c3-4197-4e37-918c-0d0e86863e5e"
                style="width:100px;">
            </td>

            <td>
              Factura #: {{facturaImprimir.NumeroFactura}}<br>
              Creada: {{facturaImprimir.Fecha}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              ACR Motos.<br>
              Cruz Roja 20 mts. al Norte<br>
              Chichigalpa, Chinandega<br>
              acrmotosnic@gmail.com<br>
              23468367<br>
              RUC #: 0842006960000W
            </td>

            <td>
              Vendedor: {{facturaImprimir.Vendedor.Nombres}} {{facturaImprimir.Vendedor.Apellidos}}<br>
              Cliente: {{facturaImprimir.Cliente.NombreCompleto}}<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Método de Pago
      </td>

      <td>
        Monto
      </td>
    </tr>

    <tr class="details">
      <td>
        {{facturaImprimir.TipoPago}}
      </td>

      <td>
        C${{totalSinDescuento()}}
      </td>
    </tr>

    <tr class="heading">
      <td>
        Extras
      </td>

      <td>
        Monto
      </td>
    </tr>

    <tr class="details">
      <td>
        Interés
      </td>

      <td>
        C${{facturaImprimir.Interes}}
      </td>
    </tr>
  </table>
</div>
<table class="table mx-auto" style="max-width: 100%; min-width: 80%;">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of facturaImprimir.Productos">
      <td>{{producto.Producto}} {{producto.Marca}} {{producto.Modelo}}</td>
      <td>{{producto.Cantidad}}</td>
      <td>{{producto.Precio}}</td>
      <td>{{producto.Precio * producto.Cantidad}}</td>
    </tr>
  </tbody>
</table>
<div class="invoice-box mt-5">
  <table cellpadding="0" cellspacing="0">
    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td style="max-width: 50px;">
              <hr style="color: black; background-color: black;"><br>
              <div class="text-center mt-0">ACR Motos</div>
            </td>

            <td>
              <b>SubTotal: C${{totalSinDescuento()}}</b><br>
              <b>Descuentos: C${{facturaImprimir.Descuento}}</b><br>
              <b>Total: C${{totalSinDescuento() - facturaImprimir.Descuento}}</b>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>-->
<div class="float-right">
  <button (click)="navegar()" class="btn btn-primary m-3" id="btnRegresar">Regresar</button>
  <button (click)="imprimir()" class="btn btn-warning m-3" id="btnImprimir">Imprimir</button>
</div>